body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lavenderblush;
    height:max-content;
  }

  
  
  .topnav {
    overflow: hidden;
    background-color: #9CC3D5FF;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  *{
    margin: 0;
    padding: 0;
  }

  h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 20px;
    color:yellowgreen;
}
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
  fieldset {
    border: thin solid #ccc; 
    border-radius: 4px;
    padding: 20px;
    padding-left: 40px;
    background: #fbfbfb;
}
legend {
   color: #678;
}
.form-control {
    width: 95%;
}
label small {
    color: #678 !important;
}
span.req {
    color:maroon;
    font-size: 112%;
}

.center{
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
}

button{
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.popup-add{ 
  position: absolute;
  top:-100%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%,-50%) scale(1.25);
  width: 380px;
  padding: 20px 30px;
  background: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms,
              opacity 200ms ease-in-out 0ms,
              transform 20ms ease-in-out 0ms;
}

.popup-add .active{
  top:50%;
  opacity:1;
  transform: translate(-50%,-50%) scale(1);
  transition: top 0ms ease-in-out 200ms,
              opacity 200ms ease-in-out 0ms,
              transform 20ms ease-in-out 0ms;
}

.close-btn{
  position: absolute;
  top:10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background: #888;
  color: #eee;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}



.custab{
  border: 1px solid #ccc;
  padding: 5px;
  margin: 10% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
  }
.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
  }

 

#custom-search-input {
margin:0;
margin-top: 24px;
padding: 2px;
}
.col-md-12 {
width: 62%;
}
#custom-search-input .search-query {
padding-right: 3px;
padding-right: 4px \9;
padding-left: 3px;
padding-left: 4px \9;
/* IE7-8 doesn't have border-radius, so don't indent the padding */

margin-bottom: 0;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 43px;
}

.add{
  width: 100%;
  margin-left: 25%;
  margin-right: 25%;
}

.list{
  width: 100%;
  margin-left: 7.5%;
}

#custom-search-input button {
border: 0;
background: none;
/** belows styles are working good */
padding: 2px 5px;
margin-top: 2px;
position: relative;
left: -28px;
/* IE7-8 doesn't have border-radius, so don't indent the padding */
margin-bottom: 0;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
color:green;
}

.search-query:focus + button {
z-index: 3;  
}
.input-group {
position: relative;
display: table;
border-collapse: separate;
padding-right: 0px;
padding-left: 183px;
}
  