<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>

    <h1>Hotel Management System</h1>

    <div class="topnav" id="myTopnav">
        <a href="http://localhost:4200/receptionist">Receptionist's Home</a>
        <a href="http://localhost:4200/receptionist-booking">Booking</a>
        <a href="http://localhost:4200/receptionist-guest">Guest</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>




    <!-- <div class="container">
            <div class="row">
              <div id="custom-search-input">
                <div class="input-group col-md-12" style="text-align: center">
                  <input type="text" class="search-query form-control" placeholder="Search With booking id" name="bookingId"
                    [(ngModel)]="bookingId" />
                  <span class="input-group-btn">
                    <button class="btn btn-danger" type="button" (click)="getbookingById()">
                      <span class=" glyphicon glyphicon-search"></span>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div> -->



    <div class="container list">
        <div class="row col-md-6 col-md-offset-2 custyle">
            <table class="table table-striped custab">
                <thead>
                    <tr>
                        <th>Booking Id</th>
                        <th>Room Id</th>
                        <th>Guest Id</th>
                        <th>Check-In Date</th>
                        <th>Check-Out Date</th>
                        <th>Payment Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let booking of bookings">
                        <td>{{booking.bookingId}}</td>
                        <td>{{booking.roomId}}</td>
                        <td>{{booking.guestId}}</td>
                        <td>{{booking.checkInDate}}</td>
                        <td>{{booking.checkOutDate}}</td>
                        <td>{{booking.paymentStatus}}</td>
                        <td class="text-center"><button class="btn btn-danger btn-xs"
                                (click)="deleteBooking(booking.bookingId)"><span
                                    class="glyphicon glyphicon-remove"></span>Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="add">
        <div class="row">
            <div class="col-md-6">
                <form>
                    <fieldset>

                        <div class="form-group">
                            <label for="roomId"><span class="req">* </span> Room Id: </label>
                            <input class="form-control" [(ngModel)]="booking.roomId" type="text" name="roomId"
                                id="roomId" required="required" placeholder="Enter the room id " />
                        </div>

                        <div class="form-group">
                            <label for="guestId"><span class="req">* </span> Guest Id : </label>
                            <input class="form-control" [(ngModel)]="booking.guestId" type="number" name="guestId"
                                id="guestId" placeholder="Enter the guest id " required />
                        </div>

                        <div class="form-group">
                            <label for="checkInDate"><span class="req">* </span> Check-In date : </label>
                            <input class="form-control" [(ngModel)]="booking.checkInDate" required type="date"
                                name="checkInDate" id="checkInDate" />
                        </div>

                        <div class="form-group">
                            <label for="checkOutDate"><span class="req">* </span> Check-Out date : </label>
                            <input class="form-control" [(ngModel)]="booking.checkOutDate" type="date"
                                name="checkOutDate" id="checkOutDate" required />
                        </div>

                        <div class="form-group">
                            <label for="paymentStatus"><span class="req">* </span> Payment Status :
                            </label>
                            <input class="form-control" [(ngModel)]="booking.paymentStatus" type="text"
                                name="paymentStatus" id="paymentStatus" placeholder="Enter true/false " required />
                        </div>

                        <div class="form-group">
                            <input class="btn btn-success" type="submit" name="submit_reg" value="SUBMIT"
                                (click)="addBooking()">
                        </div>
                    </fieldset>
                </form><!-- ends register form -->
                <!-- second for to fiter user-->
                <!-- ends col-6 -->
            </div>
        </div>
    </div>

    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>


</body>

</html>