body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: transparent;
  }

  *{
    margin: 0;
    padding: 0;
  }

  .background-image{
    background-image: url("src\app\bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .wel{
    text-align: center;
    text-shadow: #04AA6D;
    color:deepskyblue;
    margin-top: 13%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 90px;
  }

  .base{
    margin-top: 0;
    color:deeppink;
    margin-left: 65%;
    font-size: xx-large;
  }
  

  h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #EEA47FFF;
}
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  